<ion-content [fullscreen]="true">
<div class="temp">
  <img src="../../assets/images/person.jpg" alt="avatar" class="img-circle-small">
  <span class="status topRight"></span>
</div>
<div>
  <h1 style="margin-left: 50px; margin-top: 30px">Maps</h1>
</div>

<div>
  <ion-item>
    <ion-input id="search" fill="solid" label="Buscador"></ion-input>
  </ion-item>
</div>
<div class="temp">
  <img src="../../assets/images/maps.png" alt="maps" class="maps">
  <span class="align-text-center"></span>
</div>
  <ion-button fill="outline" id="activar1">Activar</ion-button>
  <br>
  <ion-button fill="outline" id="activar2">Desactivar</ion-button>
 
  <br>  
  <ion-button expand="block" id="alarma">Alarma</ion-button>
  <br>

</ion-content>
