
<ion-content [fullscreen]="true">

  <h1>Registrate</h1>
  <img src="../../assets/images/dog.png" alt="" id="dogimg">
  <b>  <ion-button fill="outline" id="google">Ingresa con Google</ion-button>
  <img src="../../assets/images/google2.png" alt="" id="googleimg" style="display: flow-root;"></b>
  <br>
  <ion-button fill="outline" id="facebook">Ingresa con Facebook</ion-button>
  <img src="../../assets/images/face.png" alt="" id="facebookimg">
  <br>  
  <ion-button expand="block" id="reg">Registrate gratis</ion-button>
  <br>
  <p style="font-size: 25px; margin-top: 10px; margin-left: 330px;">Iniciar sesión</p>

</ion-content>